 
<ng-app="app" ng-controller="LoginController as loginc">
    <div ng-form="myFormValidation">
       <div class="container">
           <div class="row">
               <h3 class="col-md-12 text-center">Login</h3>
           </div>
           <div class="col-md-4"></div>
           <div class="col-md-4 border">
           <div class="row">
                <div class="col-md-4 form-group margin-top10px">
                <label for="exInputfname">User Name </label>
                </div> 
                <div class="col-md-8">
                <input type="text" class="form-control" name="username"  ng-model="loginc.info.uname" placeholder="Enter User Name">
                </div> 
           </div> 

         <div class="row">
            <div class="col-md-4 form-group margin-top10px">
                <label for="exInputfname">Password </label>
             </div> 
             <div class="col-md-8">
                <input type="password" class="form-control" name="password"  ng-model="loginc.info.pwd" placeholder="Enter Password ">
             </div> 
         </div>
         <div class="row">
             <div class="col-md-4"></div>
             <div class="col-md-8">
             <button type="submit" class="btn btn-primary margin-top10px" ng-click="loginc.logininfo(loginc.info)">login</button>
             </div> 
             
         </div>

       </div>  
       <div class="col-md-4"></div>
</div>  


      </form>           
    </div>


  